@import '../../styles/constants.scss';

.btn {
  color: $MAIN_FONT_COLOR;
  padding: 12px;
  background-color: $MAIN_COLOR;
  font-size: 28px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  text-align: center;

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: $DISABLED_COLOR;
  }
}
