@import '../../styles/constants.scss';

.menu {
  width: 100%;
  max-width: 300px;
  height: calc(100vh - 80px);
  position: absolute;
  right: 0;
  padding: 32px;
  color: $MAIN_FONT_COLOR;
  background-color: $MAIN_COLOR;

  &.hidden {
    visibility: hidden;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
}
