@import '../../styles/constants.scss';

form {
  font-size: 26px;
  margin-bottom: 15px;

  input {
    width: 300px;
    border: 2px solid $MAIN_COLOR;
    padding: 15px 10px;
    margin-right: 15px;

    &:disabled {
      border: 1px solid #999999;
      color: $DISABLED_COLOR;
    }
  }

  button {
    background-color: $MAIN_COLOR;
    height: 63px;
    padding: 0 17px;
    color: $MAIN_FONT_COLOR;
    font-size: 26px;

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: $DISABLED_COLOR;
    }
  }

  .error {
    font-weight: 700;
    color: $ERROR_COLOR;
    font-size: 16px;
    padding-top: 3px;
  }
}
