@import '../../styles/constants.scss';

table {
  border: 1px solid lightgray;
  font-size: 36px;
  text-align: center;

  thead {
    background-color: $SECOND_COLOR;
    color: #fff;

    th {
      padding: 4px 65px;
      font-weight: 700;
      border-bottom: 1px solid $TABLE_BORDER_COLOR;
      border-right: 1px solid $TABLE_BORDER_COLOR;
    }
  }

  tbody {
    border-bottom: 1px solid $TABLE_BORDER_COLOR;

    tr td {
      vertical-align: middle;
      padding: 10px;
      font-size: 30px;
      border-bottom: 1px solid $TABLE_BORDER_COLOR;
      border-right: 1px solid $TABLE_BORDER_COLOR;

      button {
        background-image: url('../../assets/delete.svg');
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        cursor: pointer;
      }
    }
  }
}
